<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Регистрация нового пользователя</h1>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="btn">Домой</a>
        </nav>
    </header>
    <main>
        <form action="{% url 'account_signup' %}" method="post" style="max-width: 300px; margin: auto;">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorlist">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required class="form-control">
                {% if form.username.errors %}
                    <div class="errorlist">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="form-control">
                {% if form.email.errors %}
                    <div class="errorlist">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password1">Пароль:</label>
                <input type="password" id="password1" name="password1" required class="form-control">
                {% if form.password1.errors %}
                    <div class="errorlist">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password2">Подтвердите пароль:</label>
                <input type="password" id="password2" name="password2" required class="form-control">
                {% if form.password2.errors %}
                    <div class="errorlist">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="role">Роль:</label>
                <select id="role" name="role" required class="form-control">
                    <option value="CUSTOMER">Заказчик</option>
                    <option value="PERFORMER">Исполнитель</option>
                </select>
                {% if form.role.errors %}
                    <div class="errorlist">{{ form.role.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Зарегистрироваться</button>
            </div>
        </form>
    </main>
    <footer>
        <p>© 2024 Наш сайт. Все права защищены.</p>
    </footer>
</body>
</html>
